@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

:root {
  font-size: 62.5%;
  --black: #100f0e;
  --orange: #ff7a00;
  --orange2: #ff9a58;
  --white: #fff;
  --gray2: #aeaeae;
  --gray-left: #efefef;
  --gray-right: #aeaeae;
  --gray-text: #8d8d8d;
  --social-media-icons: #5f5f5f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16em;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  color: #100f0e;
  font-size: 1.8rem;
}

p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.6rem;
}

a,
button {
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s ease;
}

button {
  background-color: #ff7a00;
  color: #fff;
  padding: 10px;
  border-radius: 25px;
  font-size: 1.6rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

button i {
  margin-right: 10px;
}

button:active {
  transform: scale(0.98);
}

button:hover {
  background-color: #ff9a58;
  color: #100f0e;
}

ul {
  list-style: none;
}

input,
textarea {
  border: none;
  font-family: inherit;
  outline: none;
  resize: none;
}

input::placeholder {
  font-style: inherit;
  color: #aeaeae;
}

textarea::placeholder {
  color: #aeaeae;
}

.line {
  background-color: #fff;
  width: 110%;
  height: 0.5px;
}

nav.sticky {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* HEADER */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  z-index: 99;
  transition: box-shadow 0.5s ease-in-out;
}

nav img.logo {
  width: 128px;
  height: 50px;
  z-index: 100;
}
.nav-links a:hover {
  color: #ff7a00;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 10px;
}

/* BURGUER MENU ICON */
.burguer {
  display: none;
}

.burguer div {
  content: '';
  width: 25px;
  height: 3px;
  background-color: #100f0e;
  margin: 5px;
  transition: all 0.3s ease;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  align-items: center;
  justify-content: center;
}

/* INTRO */
main .intro {
  background-color: #ff9a58;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  z-index: 90;
  letter-spacing: 0.1em;
}

/* PRODUCTS-CONTAINER */
main .products-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  position: relative;
}

main .products-container::before {
  content: '';
  position: absolute;
  height: 140%;
  width: 100vw;
  background-image: url(./backgrounds/bg2-medium.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.1;
  z-index: -99;
}
main .coffee-container .left ul.intensity li.empty {
  background-color: #fff;
}

main .coffee-container {
  flex: 0 50%;
  max-width: 400px;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  margin: 10px 10px;
}

main .coffee-container .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .left .intensity {
  display: flex;
}

main .left .intensity li {
  margin: 4px 2px;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

main .left .intensity li.c0 {
  background-color: #b6b6b6;
}

main .left .intensity li.c1 {
  background-color: #8e8e8e;
}

main .left .intensity li.c2 {
  background-color: #636362;
}

main .left .intensity li.c3 {
  background-color: #383736;
}

main .left .intensity li.c4 {
  background-color: #100f0e;
}

main .left small {
  color: #5f5f5f;
  font-size: 1.2rem;
}

main .coffee-container img.foto {
  height: 25vw;
  width: 25vw;
  max-height: 130px;
  max-width: 130px;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

main .coffee-container .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  margin-left: 30px;
  margin-left: 10px;
}

main .coffee-container .right p {
  color: #5f5f5f;
}

main .coffee-container .right .title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

main .coffee-container img.country {
  margin-right: 10px;
  height: 24px;
  width: 24px;
}

main .coffee-container button.price i {
  margin: 0 0 0 4px;
}

main .coffee-container button {
  display: flex;
  align-items: center;
  bottom: 10px;
  right: 10px;
  position: absolute;
  font-size: 1.8rem;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px 0 20px 0;
}

/* INFO */
.info {
  margin-top: 20px;
  display: flex;
}

.info .left p {
  margin: 20px 30px 20px 10px;
}

.info .right p {
  margin: 20px 10px 20px 30px;
}

.info .left {
  margin-top: 40px;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  color: #5f5f5f;
  background-color: #efefef;
}

.info .right {
  position: relative;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  color: #fff;
  background-color: #ff9a58;
  border-top-left-radius: 40px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.info .left img {
  margin-left: 10px;
  width: 250px;
  height: 250px;
  transform: translateY(-20%);
}

.info .right img {
  width: 250px;
  height: auto;
  transform: translateY(-20%);
}

/* FOOTER */
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(./backgrounds/bg4-medium.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  z-index: -99;
  opacity: 0.2;
}

.social-media {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media ul {
  display: flex;
}

.social-media ul li a {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #5f5f5f;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  transition: 0.2s;
}

.social-media ul li a:hover {
  background-color: #ff7a00;
}

.small-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  background-color: rgb(255, 255, 255, 0.7);
}

.links-left > * {
  margin: 0 10px;
}

.small-conteiner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.small-container > * {
  display: flex;
  align-items: center;
}

.small-container ul li a {
  color: #8d8d8d;
}

.small-container i,
.small-container span {
  transition: all 0.3s ease;
}

.kevin:hover i,
.kevin:hover .kevin-name {
  color: #ff7a00;
}

/* MOBILE */
@media screen and (max-width: 1200px) {
  /* PRODUCTS-CONTAINER */
  main .products-container {
    width: 98vw;
  }
}
@media screen and (max-width: 900px) {
  a,
  button {
    font-size: 1.4rem;
  }
  /* INFO */
  .info {
    display: flex;
    flex-direction: column;
  }
  .info > * {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 780px) {
  /* GENERAL */
  body {
    overflow-x: hidden;
  }
  nav {
    display: flex;
    z-index: 99;
  }
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }
  a {
    color: #100f0e;
  }
  a,
  button {
    font-size: 2.4rem;
  }
  .nav-links {
    background-color: #fff;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    margin: 20px 0;
  }
  .burguer {
    display: block;
    cursor: pointer;
  }
  /* PRODUCTS-CONTAINER */
  main .products-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  /* INFO */
  .info {
    display: flex;
    flex-direction: column;
  }
  .info > * {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info .left p {
    margin: 0px 5vw 20px 5vw;
  }
  .info .right p {
    margin: 0px 5vw 20px 5vw;
  }
  .info .right::before {
    transform: translateY(-50vw);
  }
  .info .left {
    padding-top: 40vw;
    padding-bottom: 10vw;
  }
  .info .right {
    padding-top: 35vw;
    padding-bottom: 10px;
  }
  .info .right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #efefef;
    z-index: -99;
  }
  .info .left img {
    position: absolute;
    top: 0;
    max-width: 50vw;
    height: auto;
    transform: translateY(-20%);
  }
  .info .right img {
    position: absolute;
    top: 0;
    max-width: 50vw;
    height: auto;
    transform: translateY(-20%);
  }
  /* FOOTER */
  .social-media {
    flex-direction: column;
  }
  .small-container {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .small-container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .small-container a {
    font-size: 1.8rem;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
